<div id="message_form">
  <%= form_with model: [chat, message], class: "message-form", data: { turbo: true } do |f| %>
    <% if message.errors.any? %>
      <div class="errors">
        <%= message.errors.full_messages.to_sentence %>
      </div>
    <% end %>

    <div class="message-input-group">
      <%= f.text_area :content, placeholder: "Type your message...", rows: 2, class: "message-input", required: true %>
      <%= f.submit "Send", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
