.index-heading {
  h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: 900;
  }

  p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
}

body {
  background-color: #1b1b1b;
}
