// Specific CSS for your home-page
.gradient {
  position:absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: radial-gradient(
    ellipse at 1% 1%,
    #a4c332 0%,
    #1b1b1b 60%
  );
  background-attachment: scroll;
  color: #f8f9fa;
  z-index: -1;
}

.hero-text p {
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: 200;
  line-height: 15px;
}
