.container-home {
  min-height: 100vh;
  background: radial-gradient(
    ellipse at 5% 5%,
    #a7b620fa 0%,
    #1b1b1b 100%
  );
  background-attachment: fixed;
  color: #f8f9fa;
}

.card {
  background: linear-gradient(
    135deg,
    rgba(68, 68, 68, 0.6),
    rgba(17, 17, 17, 0.8)
  );
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  padding: 10px;
}

.slogan {
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
  font-weight: 900;
  text-transform: uppercase;
}
