.musician-card {
  background-color: #171717;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  position: relative;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;


  a {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
    position: relative;
    z-index: 3;
  }

  form {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 4;
  }

  .btn {
    position: relative;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
    pointer-events: none;
    z-index: 4;
  }



}



.musician-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);

    .btn {
      opacity: 1;
      pointer-events: auto;
    }
  }

.musician-card::before {
  content: "";
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  border-radius: 20px;
  background: linear-gradient(to bottom left, #000000, #E936AD);
  z-index: 0;
}

.musician-card::after {
  content: "";
  position: absolute;

  top: 0.5px;
  left: 0.5px;
  right: 0.5px;
  bottom: 0.5px;

  border-radius: 20px;
  background-color:#171717;

  z-index: 1;
}

.musician-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
  z-index: 2;
  width: 100%;
}

.musician-avatar {
  width: 100%;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 8px;
  z-index: 2;
}

.musician-card-name-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.1;
  z-index: 2;
  width: 100%;
}

.musician-card-name {
  padding-left: 0;
  margin: 0;
  font-size: 1.5em;
  color: white;
  text-align: center;
  z-index: 2;
}

.musician-card-details {
  z-index: 2;

  p {
    margin: 5px 0;
    color: #ccc;
    font-size: 1em;
    line-height: 1.4;
    display: flex;
    align-items: center;
    gap: 8px;

    i {
      font-size: 12px;
      width: 16px;
      color: #888;
    }
  }
}

.musician-card-details span {
  margin: 5px 0;
  color: #ccc;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  z-index: 2;

  i {
    font-size: 10px;
    z-index: 2;
  }
}
