.navbar-lewagon {
  justify-content: space-between;

  background: radial-gradient(circle at center, #3c3c43 0%, #2f2f35 50%, #1e1e20 100%);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);

  background-color: #1e1e20;

  position: sticky;
  top: 0;
  z-index: 1020;

  li:hover {
    color: black;
  }

  p {
    font-size: 1rem;
  }


}

.btn-primary:hover {
  color: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
